body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0c0c0d;
  font-family: "Segoe UI", sans-serif;
  font-weight: 500;
}

/* .container {
  background: #36383c;
  height: 100vh;
  text-align: center;
  justify-content: center;
  
} */

.button {
  line-height: 1.8rem;
  text-decoration: none;
  border-radius: 10px;
  display: inline-flex;
  padding: 1rem 2rem;
  font-size: 20px;
  position: relative;
  background-color: #18181b;
  color: #f4f4f5;
  transition: background-color 0.2s ease-in-out;
  justify-content: center;
  text-align: center;
  cursor: pointer;

}

.button:hover {
  background-color: #0c0c0d;
  letter-spacing: 0.75px;
}

.button:before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    rgb(0, 220, 130),
    rgb(54, 228, 218),
    rgb(22, 167, 158)
  );
  
  inset: -2px;
  z-index: -1;
  border-radius: 10px;
  transition: all 0.2s ease 0s;
}

.button:hover:before {
  box-shadow: rgb(0, 220, 130, 0.5) 0px 0px 10px 0px,
  rgb(54, 228, 218, 0.5) 0px 0px 20px 0px;
}

.button > span {
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-boxorient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
}